body {
    width: 100%;
    background-color: white;
}

header nav {
    background-color: green;
}


.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}


/*
.selectioncontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
*/