{% extends 'base.html' %}
{% block content %}


<!-- TODO: add validation to check if username is taken! -->
<div class="container">
    <h5>Add Author</h5>
    <p>Please add your name here</p>
    <div class="row">
        <form action="{{ url_for('insert_author') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="author_name" name="author_name" type="text" class="validate">
                    <label for="icon_prefix">Author Name</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light green" type="submit" name="action">Add Author
                    <i class="material-icons right">person_add</i>
                 </button>
                 <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn grey">
                    <i class="material-icons right">cancel</i>Cancel
                </a>
            </div>
        </form>
    </div>    
</div>

{% endblock %}