{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">

        <h5>Add a new Recipe</h5>
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
            <div class="row">
                <h6>Thank you for sharing your vegan recipe with our community!</h6>
                <p>Are you a new Author?<br>Please register - it's for free!</p>
                <div class="row">
                    <div class="col s12">
                        <button>
                            <a href="{{url_for('add_author')}}" class="btn waves-effect waves-light green">Add a new Author
                                    <i class="material-icons right">person_add</i>
                            </a>
                        </button>
                    </div>    
                </div>    
                <p>If you've already registered as a new Author please find your name in the Author drop-down list:</p>
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                        <select id="author_name" name="author_name">
                            <option value="" disabled selected>Choose Author</option>
                            {% for auth in authors %}
                            <option value="{{auth.author_name}}">{{auth.author_name}}</option>
                            {% endfor %}
                        </select>
                    <label>Choose Author</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">folder_special</i>
                    <select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Recipe Category</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="recipe_name" name="recipe_name" type="text">
                        <label for="icon_prefix">Recipe Name</label>
                    </div>
                </div>    
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">content_paste</i>
                            <textarea name="recipe_description" id="recipe_description" class="materialize-textarea" required></textarea>
                            <label for="icon_telephone">Description *</label>
                        </div>
                    </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">hourglass_full</i>
                                <input id="preparation_time" name="preparation_time" type="text">
                                <label for="icon_prefix">Preparation Time</label>
                            </div>
                        </<div>   
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">list</i>
                                    <textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix">Ingredients List</label>
                                </div>
                            </div>  
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">error_outline</i>
                                        <input id="allergens" name="allergens" type="text">
                                        <label for="icon_prefix">Allergens</label>
                                    </div>
                                </div> 
                            <div class="row">
                                <button class="btn waves-effect waves-light green" type="submit" name="action">Submit
                                    <i class="material-icons right">playlist_add</i>
                                </button>
                                <a href="{{ url_for('home') }}" class="waves-effect waves-light btn grey">
                                    <i class="material-icons right">cancel</i>Cancel
                                </a> 
                            </div>
        </form>
    </div>    
</div>

{% endblock %}