<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <title>Go Vegan</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('home')}}" class="brand-logo">Vegan Cookbook</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('add_author')}}">New Author</a></li>
                </ul> 
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('home')}}">MOBILEHome</a></li>
                    <li><a href="{{url_for('add_recipe')}}">MOBILE New Recipe</a></li>
                   
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="container1">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.sidenav').sideNav();
            $('.button-collapse').sideNav();
        });
    </script>
</body>

</html>
