{% extends 'base.html'%} {% block content %}

<div class="selectioncontainer">
    <div class="container">
        <h4>Welcome to Annie's vegan cookbook!</h4>
        <p>Please click on the card to select the food category of your choice.</p>
        <div class="row">
            <div class="z-depth-5">
                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image">
                            <a href="{{url_for('recipes_by_category', category_name='breakfast')}}">
                                <img src="/static/img/bf1.png">
                            </a>    
                            <span class="card-title">Breakfast</span>
                        </div>
                        <div class="card-content">
                            <p>Start your day right with a delicious breakfast</p>
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('recipes_by_category', category_name='breakfast')}}">all Breakfasts</a>
                        </div>
                    </div>
                </div>    
                
                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image">
                            <a href="{{url_for('recipes_by_category', category_name='main course')}}">
                                <img src="/static/img/mc.png">
                            </a>
                            <span class="card-title">Main Course</span>
                        </div>
                        <div class="card-content">
                            <p>Nourish your body with a healthy main course</p>
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('recipes_by_category', category_name='main course')}}">all Main Courses</a>
                        </div>
                    </div>
                </div>
                
                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image">
                            <a href="{{url_for('recipes_by_category', category_name='dessert')}}">
                                <img src="/static/img/dessert2.png">
                            </a>
                            <span class="card-title">Desserts</span>
                        </div>
                        <div class="card-content">
                            <p>Treat yourself! You desverve it</p>
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('recipes_by_category', category_name='dessert')}}">all Desserts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /row -->
    </div>    
</<div>         

{% endblock %}